*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
*.pyc
old/
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
darknet
.fuse*
scripts/coco/*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
*.weights
*.so
darknet-cpu
darknet53.conv.74
libdarknet.a
predictions.jpg.bk
darknet-mp
darknet-gpu
backup/yolov3-tiny.backup
